.main__container {
    width: 980px;
    height: 540px;
    margin: 0rem 17rem;
    background-color: rgba(221,51,51,0);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    padding: 1rem;
}

.main__text{
    font-size: 26px;
    line-height: 1;
    font-weight: 700;
    margin: 22px 0 0 0;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons {
    margin-top: 1rem;
}

.nav__link {
    color: #fff;
}

.main__button-guide {
    background-color: #222222;
    border-color: #222222;
    color: #fff;
}

.main__button-altcoin {
    text-decoration: none;
    background-color: #fff;
    color: #222222;
    border-style: solid;
    border-color: #eaeaea;
    border-radius: 2px;
    border-width: 0.5px 0.5px 0.5px 0.5px;
    padding: 3px 3px 3px 3px;
    font-size: 10px;
    font-weight: bold;
}

.main__button-gambling {
    text-decoration: none;
    background-color: #fff;
    color: #222222;
    border-style: solid;
    border-color: #eaeaea;
    border-radius: 2px;
    border-width: 1px 1px 1px 1px;
    padding: 3px 3px 3px 3px;
    font-size: 10px;
    font-weight: bold;
}

.main__button-guide {
    text-decoration: none;
    background-color: black;
    color: #fff;
    border-style: solid;
    border-color: #eaeaea;
    border-radius: 2px;
    border-width: 1px 1px 1px 1px;
    padding: 3px 3px 3px 3px;
    font-size: 10px;
    font-weight: bold;
}

.main__button-ico {
    text-decoration: none;
    background-color: #fff;
    color: #222222;
    border-style: solid;
    border-color: #eaeaea;
    border-radius: 2px;
    border-width: 1px 1px 1px 1px;
    padding: 3px 3px 3px 3px;
    font-size: 10px;
    font-weight: bold;
}

.main__button-guide:hover {
    color: #fff;
    background-color: #e0b233;
}

.main__button-altcoin:hover, .main__button-gambling:hover, .main__button-ico:hover {
    background-color: #e0b233;
    color: #fff;
}

/* dropdwnbtn */

.main__button-options::after {
    content: "ˇ";
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 0px;
}

.main__button-options {
    height: 1.3rem;
    width: 1.3rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropbtn {
    /* background-color: #4CAF50; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    padding-top: 1.4rem;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;

  }

  .dropdown-content a:hover {
    background-color: #f1f1f1
}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #e0b233;
}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* .dropdown:hover .main__button-options {
    background-color: #3e8e41;
  } */

.main__subtext {
    font-style: italic !important;
}

.main__button {
    margin-top: 2rem;
}

.main__button::after {
    transition: opacity 0.2s ease 0s;
    opacity: 1;
}

.main__container-text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 1.9rem;
    margin-bottom: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic !important;
}

.main__container-subtext {
    font-style: italic !important;
}

.decs_text {
    color: #e0b233;
    text-decoration: none;
}

.main__containers {
    display: flex;
    /* width: 50.5rem;
    height: auto; */
    width: 980px;
    height: auto;
    padding: 1rem;
    margin: 0rem 17rem;
    background-color: rgba(221,51,51,0);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.main__containers-info {
    display: flex;
}

.main__containers-img {
    width: 10rem;
    height: 3rem;
}

.main__containers-img {
    width: 100%;
    height: auto;
    background: url('/assets/main/main-img.webp') center/cover no-repeat;
}

.main__containers-subinfo {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.main__containers-text, .main__containers-autor, .main__containers-subtitle__info {
    margin-bottom: 1rem;
    text-decoration: none;
    color: #222222;
}

.main__containers-text, .main__containers-autor {
    font-weight: bold;
}

.main__containers-autor {
    font-size: 11px;
}

.main__containers-text {
    font-size: 19px;
}

.main__containers-text:hover {
    color: #e0b233;
    transition: 0.4s;
}

.sticky__containers-subtitle {
    width: 8rem;
    text-decoration: none;
    color: #4DB2EC;
}

.sticky__containers-subtitle-info {
    text-decoration: none;
    color: #4DB2EC;
}

.main__containers-block {
    width: 35rem;
    height: 11rem;
}

.sticky__containers {
    position: sticky;
    top: 0;
}

.sticky__containers-title {
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.sticky__containers-title::after {
width: 15.3rem;
content: '';
display: block;
height: 2px;
background: #e0b233;
margin-top: 0.4rem;
}

.sticky__containers-img {
    width: 120px;
    height: 31px;
    background: url('/assets/main/paybis-logo.webp') center/cover no-repeat;
}

.sticky__containers-bitcoin {
    display: flex;
    background-color: #f9f9f9;
}

.sticky__containers-bitget {
    display: flex;
}

.sticky__containers-text {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.sticky__containers-imgbitget {
    width: 120px;
    height: 31px;
    background: url('/assets/main/bitget-logo.webp') center/cover no-repeat;
}

.sticky__nft-containers-info {
    padding-top: 3rem;
}

.sticky__nftcontainers-img {
    width: 140px;
    height: 140px;
    background: url('/assets/main/sorare.webp') center/cover no-repeat;
}

.sticky__nftcontainers-text {
    display: flex;
    align-items: center;
    text-align: center;
}

.sticky__columns {
    position: sticky;
    top: 0;
}

.main__buttons {
    margin-top: 5rem;
}

.button_search {
    content: '\e80a';
    width: 1rem;
    height: 1rem;
}



.search-logo::after {
    content:  '\1F50D';   
    color: wheat;
    width: 20px;
    height: 20px;
}

.reverse {
    width: 50%;
    height: auto;
}

.pages-wrapper {
    background-color: #fff;
    width: 980px;
    height: 3rem;
    margin: 0rem 17rem;
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

.first_page, .second_page, .third_page, .last_page {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
}

.last_page::after {
    content: '\003E';
}

.sticky__containers-subtitle:hover {
    color: #e0b233;
    text-decoration: solid 1px;
}

.sticky__containers-subtitle-info:hover {
    color: #e0b233;
}

.numbers_pages {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.page_numbers {
    margin-left: 21rem;
    font-size: 0.8rem;
}

.first_page {
    color: #fff;
    background-color: #e0b233;
    border: none;
    cursor: pointer;
}

.second_page:hover {
    background-color: #222222;
    color: #fff;
    border: none;
    cursor: pointer;
}

.third_page:hover {
    background-color: #222222;
    color: #fff;
    border: none;
    cursor: pointer;
}

.last_page:hover {
    background-color: #222222;
    color: #fff;
    border: none;
    cursor: pointer;
}

.pages-mobile {
    display: none;
}