.nav {
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav__container {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    background-color: black;
    width: auto;
    height: 3rem;
}

.nav-logo {
    background: url('/assets/nav/nav-logo.webp') center/cover no-repeat;
    width: 14rem;
    height: 2rem;
    background-color: black;
    margin-right: 2rem;
}

.nav__link {
  font-size: 13px;
    margin-right: 3rem;
    cursor: pointer;
    text-decoration: none;
}

.nav__link:hover {
    background-color: #fff;
    color: black;
}


.nav__input::after {
    width: 50px;
    height: 15px;
    content: '\e80a';
    color: red;
}


#inputfield {
    display: none;
    display: -webkit-none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 1px;
  }

  .search-logo {
    cursor: pointer;
  }
  
  #inputfield.open {
    left: 62rem;
    display: block;
    display: -webkit-block;
    position: absolute;
    top: 4rem;
  }

  #inputfield.remove {
    display: none;
    display: -webkit-none;
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .asd {
    color: red;
    width: 15rem;
    height: 2rem;

  }

  .search-btn {
    color: #fff;
    width: 3rem;
    height: 2rem;
    position: absolute;
    left: 15rem;
    background-color: black;
  }

  .input-dec {
    border-width: 1rem 2.9rem 1rem 1rem;
    border-color: #fff;
    border-style: solid;
  }

  .bento-menu {
    background: url('/assets/nav/bentomenu.png') center/cover no-repeat;
    width: 50px;
    height: 50px;
    display: none;
    display: -webkit-none;
  }

.nav__link::after {
    content: "ˇ";
    margin-left: 5px;
    position: absolute;
    top: 6px;
    color: rgb(255, 255, 255);
}

.nav__link-gambling {
  font-size: 13px;
  margin-right: 3rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav__link-gambling:hover {
  background-color: #fff;
  color: black;
}

  


